/* Common styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

select {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    color: #333;
    appearance: none; /* Removes default arrow in Chrome/Safari */
    -webkit-appearance: none; /* Removes default arrow in Firefox */
    -moz-appearance: none; /* Removes default arrow in older versions of Firefox */
    text-indent: 1px; /* Removes default arrow in Internet Explorer */
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
}

select:hover, select:focus {
    border-color: #777;
}

option {
    background-color: white;
    color: #333;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
}

.controls {
    display: flex;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-box input[type="text"] {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
}

.search-box button {
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #777;
}

#theme-toggle {
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    cursor: pointer;
}

#theme-toggle:hover {
    background-color: #777;
}

.container {
    display: flex;
    width: 100%;
    height: calc(100% - 60px); /* Adjust to accommodate top bar */
}

.sidebar {
    width: 20%;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar ul li {
    margin: 0;
    flex: 1 1 30px;
}

.sidebar ul li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #333;
    background-color: #e0e0e0;
}

.sidebar ul li a:hover {
    background-color: #ccc;
}

.sidebar ul li a.selected {
    background-color: #333;
    color: white;
}

.main {
    width: 80%;
    padding: 20px;
    height: 100%;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}


iframe {
    width: 100%;
    height: calc(95% - 40px); /* Adjust to accommodate padding */
    border: none;
}

/* Light theme */
:root[data-theme='light'] {
    --background-color: #ffffff;
    --text-color: #000000;
    --sidebar-background-color: #f8f8f8;
    --link-color: #333;
    --link-hover-color: #ccc;
    --button-background-color: #555;
    --button-hover-color: #777;
}

[data-theme='light'] body {
    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme='light'] .topbar {
    background-color: var(--sidebar-background-color);
    color: var(--text-color);
}

[data-theme='light'] .sidebar {
    background-color: var(--sidebar-background-color);
}

[data-theme='light'] .sidebar ul li a {
    color: var(--link-color);
    background-color: #e0e0e0;
}

[data-theme='light'] .sidebar ul li a:hover {
    background-color: var(--link-hover-color);
}

[data-theme='light'] .search-box button,
[data-theme='light'] #theme-toggle {
    background-color: var(--button-background-color);
}

[data-theme='light'] .search-box button:hover,
[data-theme='light'] #theme-toggle:hover {
    background-color: var(--button-hover-color);
}

/* Dark theme */
:root[data-theme='dark'] {
    --background-color: #121212;
    --text-color: #ffffff;
    --sidebar-background-color: #1e1e1e;
    --link-color: #ffffff;
    --link-hover-color: #333333;
    --button-background-color: #555555;
    --button-hover-color: #777777;
}

[data-theme='dark'] body {
    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme='dark'] .topbar {
    background-color: var(--sidebar-background-color);
    color: var(--text-color);
}

[data-theme='dark'] .sidebar {
    background-color: var(--sidebar-background-color);
}

[data-theme='dark'] .sidebar ul li a {
    color: var(--link-color);
    background-color: #444444;
}

[data-theme='dark'] .sidebar ul li a:hover {
    background-color: var(--link-hover-color);
}

[data-theme='dark'] .search-box button,
[data-theme='dark'] #theme-toggle {
    background-color: var(--button-background-color);
}

[data-theme='dark'] .search-box button:hover,
[data-theme='dark'] #theme-toggle:hover {
    background-color: var(--button-hover-color);
}
